language: node_js
sudo: false
cache: yarn
node_js:
  - "6.1"
  - "iojs"

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8
    env:
    - TRAVIS=travis CXX=g++-4.8