.signInForm {
  position: relative;
  height: 400px;

  & > .formWrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    & > h2 {
      text-align: center;
    }

    & > .form {
      width: 400px;
      margin: 0 auto;
      text-align: center;

      & input {
        width: 100%;
      }
    }
  }
}