.inputWrapper {
  margin: 0 0 10px 0;

  & > input {
    margin: 0;
    max-width: 100%;
    outline: 0;
    text-align: left;
    line-height: 1.2142em;
    padding: .67861429em 1em;
    background: #FFF;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
  }

  &.error {
    & > input {
      border-color: #F44336;
    }
  }
}